BHSScannerApp/Service References/BHSDocUploadWebService2/bhsDocsUploadService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://sg.bhsonline.us/bhsDocsUploadService1.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://sg.bhsonline.us/bhsDocsUploadService1.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://sg.bhsonline.us/bhsDocsUploadService1.asmx">
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="doctype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reqno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="releasecode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizeAllFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="releasecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizeAllFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinalizeAllFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalixUploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="doctype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReqType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalixUploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalixUploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalixFinalizeAllFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalixFinalizeAllFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalixFinalizeAllFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="FinalizeAllFilesSoapIn">
    <wsdl:part name="parameters" element="tns:FinalizeAllFiles" />
  </wsdl:message>
  <wsdl:message name="FinalizeAllFilesSoapOut">
    <wsdl:part name="parameters" element="tns:FinalizeAllFilesResponse" />
  </wsdl:message>
  <wsdl:message name="SalixUploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:SalixUploadFile" />
  </wsdl:message>
  <wsdl:message name="SalixUploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:SalixUploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="SalixFinalizeAllFilesSoapIn">
    <wsdl:part name="parameters" element="tns:SalixFinalizeAllFiles" />
  </wsdl:message>
  <wsdl:message name="SalixFinalizeAllFilesSoapOut">
    <wsdl:part name="parameters" element="tns:SalixFinalizeAllFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="bhsDocsUploadService1Soap">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizeAllFiles">
      <wsdl:input message="tns:FinalizeAllFilesSoapIn" />
      <wsdl:output message="tns:FinalizeAllFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalixUploadFile">
      <wsdl:input message="tns:SalixUploadFileSoapIn" />
      <wsdl:output message="tns:SalixUploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalixFinalizeAllFiles">
      <wsdl:input message="tns:SalixFinalizeAllFilesSoapIn" />
      <wsdl:output message="tns:SalixFinalizeAllFilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bhsDocsUploadService1Soap" type="tns:bhsDocsUploadService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeAllFiles">
      <soap:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/FinalizeAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalixUploadFile">
      <soap:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/SalixUploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalixFinalizeAllFiles">
      <soap:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/SalixFinalizeAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bhsDocsUploadService1Soap12" type="tns:bhsDocsUploadService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeAllFiles">
      <soap12:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/FinalizeAllFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalixUploadFile">
      <soap12:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/SalixUploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalixFinalizeAllFiles">
      <soap12:operation soapAction="https://sg.bhsonline.us/bhsDocsUploadService1.asmx/SalixFinalizeAllFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bhsDocsUploadService1">
    <wsdl:port name="bhsDocsUploadService1Soap" binding="tns:bhsDocsUploadService1Soap">
      <soap:address location="https://sg.bhsonline.us/bhsDocsUploadService1.asmx" />
    </wsdl:port>
    <wsdl:port name="bhsDocsUploadService1Soap12" binding="tns:bhsDocsUploadService1Soap12">
      <soap12:address location="https://sg.bhsonline.us/bhsDocsUploadService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>